.background {
    background: url("../images/weather.png") no-repeat;
    height: 200px;
    transition: transform .2s;
}

.background:hover {
    color: black;
}

.background1 {
    background: url("../images/tests.png") no-repeat;
    height: 200px;
    
}

.background1:hover {
    color: black;
}